.button {
  &.is-small {
    line-height: 1.5;
    height: 2.25rem;
  }

  &:not(.is-small) {
    padding: 0 2.25rem;
    height: 3rem;
  }

  &.is-large {
    height: 4rem;
  }

  font-weight: 700;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: 2px;

  &[disabled] {
    opacity: 1;
  }

  &.is-primary[disabled] {
    background-color: nth($grays, 3);
  }

  &.is-secondary {
    color: $primary;
    border-color: nth($grays, 4);
    background-color: transparent;

    &:hover,
    &:active {
      border-color: $primary;
      color: $white;
      background-color: darken($primary, 5%);
    }

    &:active {
      background-color: darken($primary, 10%);
    }

    &[disabled] {
      background-color: $white;
      border-color: nth($grays, 4);
      color: nth($grays, 4);
    }
  }

  &.is-outlined {
    border-color: nth($grays, 4);
    background-color: $white;

    &[disabled] {
      background-color: $white;
      border-color: nth($grays, 4);
      color: nth($grays, 4);
    }
  }

  &.is-link {

    &,
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
      padding: 0;
      margin: 0;
    }
  }

  @each $name,
  $pair in $colors {
    $color: nth($pair, 1);

    &.is-#{$name} {
      &.is-link {
        color: $color;

        &:hover {
          color: darken($color, 2%);
        }

        &:active {
          color: darken($color, 5%);
        }

        &,
        &:hover,
        &:active {
          background-color: transparent;
          border-color: transparent;
          box-shadow: none;
          padding: 0;
          margin: 0;
        }
      }

      &.is-outlined {
        border-color: nth($grays, 4);

        &:active {
          background-color: darken($color, 5%);
        }

        &[disabled] {
          background-color: $white;
          border-color: nth($grays, 4);
          color: nth($grays, 4);
        }
      }
    }
  }

  &.is-rounded {
    border-radius: 3rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;

    &.has-mobile-arrow {
      @include mobile {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
      }
    }
  }

  &.is-loading {
    background-color: nth($grays, 2);
    box-shadow: none !important;
    border-color: transparent;

    svg {
      visibility: hidden
    }
  }

  &.is-small {
    padding-top: .4rem;
    padding-bottom: .4rem;
  }

  &.has-arrow,
  &.is-borderless {
    padding-left: .75rem;
    padding-right: .75rem;
  }

  &:focus {
    box-shadow: none !important;
  }

  .btn-icon {
    &.arrow {
      @include mobile {
        margin: .5rem;
      }

      margin-left: 2rem;
      height: .5rem;
    }

    &:not(.arrow):not(.search) {
      margin-left: 2rem;
      height: 1.4rem;
    }

    &.search {
      margin-left: 2rem;
    }
  }
}

// make the loader rounded
.is-loading::after {
  border-radius: 100% / 100%;
}