.a-card {
  position: relative;
  box-sizing: content-box;
  max-width: fit-content;
  margin: 0 auto;
  @include touch {
    max-width: 100%;
    margin: auto;
  }
  .a-card-container {
    padding: 3rem 4rem;
    @include mobile { padding: 1rem 0 }
    position: relative;
    width: auto;
    max-width: fit-content;
    @include touch {
      max-width: 100%;
    }
    .a-card-head {
      margin: 2rem 0;
    }
    .a-card-content {
      position: relative;
    }
  }
}
