.is-stars {
  background-image: url('~@/assets/img/bg/header.png');
  background-position: center center;
  background-size: cover;

  h1, p {
    color: $white;
  }
}

.has-spans {
  span, a {
    margin: 0 .5rem;
  }
}

.footer {
  p {
    font-weight: 700;
    letter-spacing: .1rem;
  }
}