.is-stars {
  background-image: url('~@/assets/img/bg/header.png');
  background-position: center center;
  background-size: cover;

  h1, p {
    color: $white;
  }
}

.is-reversed {
  flex-direction: row-reverse;
}

.has-spans {
  span, a {
    margin: 0 .5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.footer {
  padding: 1.5rem;
  p {
    a {
      i {
        font-size: 150%;
      }
    }
  }
}

.jumbo {
  .navbar {
    padding: 3rem 2rem;
  }

  h1 {
    margin-bottom: 3rem;
  }

  $intos: (bracket, chevron, slash);
  @each $into in $intos {
    .into-#{$into} {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      & > span {
        display: block;
        flex: 0 0 auto;
        padding: 0 25px;
      }
      span:first-child, span:last-child {
        background-image: url('~@/assets/img/#{$into}.svg');
        background-size: contain;
        min-width: 40px;
        min-height: 125px;
        background-position: center center;
        background-repeat: no-repeat;
        color: $info;
        @include touch {
          display: none;
        }
      }
      span:last-child {
        @if $into != 'slash' {
          transform: rotate(180deg);
        }
      }
    }
  }      
}