h1 { font-weight: 700 }

h2, h3, h4, h5, p { font-weight: 500 }

h1, h2, h3, h4, h5, p, input, span, a { letter-spacing: .5px }

button, .button { letter-spacing: 1.5px }

input { font-size: nth($sizes, 7) }

.has-text-uppercase { text-transform: uppercase }
.has-letter-spacing-large { letter-spacing: .1rem }

h1 { line-height: nth($line-heights, 1) }
h2 { line-height: nth($line-heights, 2) }
h3 { line-height: nth($line-heights, 3) }
h4 { line-height: nth($line-heights, 4) }
h5 { line-height: nth($line-heights, 5) }
p { line-height: nth($line-heights, 6) }

@each $line-height in $line-heights {
  $id: index($line-heights, $line-height);
  .is-size-#{$id} {
    line-height: $line-height;
  }
  .has-line-height-#{$id} {
    line-height: $line-height !important;
  }
}

.is-size-1 {
  @include touch {
    font-size: nth($sizes, 2) !important;
    line-height: nth($line-heights, 2) !important;
  }
}

.is-size-2 {
  @include touch {
    font-size: nth($sizes, 3) !important;
    line-height: nth($line-heights, 3) !important;
  }
}