h1, h4 {
  font-weight: 700;
}

h2, h5 {
  font-weight: 600;
}

h3, p {
  font-weight: 500;
}

h1, h2, h3, h4, h5, p {
  letter-spacing: .05rem;
}

.has-text-uppercase {
  text-transform: uppercase;
}

h1 { line-height: 6.5625rem }
h2 { line-height: 4.25rem }
h3 { line-height: 4rem }
h4 { line-height: 3.375rem }
h5 { line-height: 2.3125rem }
p { line-height: 1.75rem }