@import "~bulma/sass/utilities/mixins";

$column-gap: 1.171875rem;
$container-padding: calc(5.4375rem + #{$column-gap});
$container-padding-touch: calc(1rem + #{$column-gap});

.container {
  padding-left: #{$container-padding};
  padding-right: #{$container-padding};

  @include touch {
    padding-left: #{$container-padding-touch};
    padding-right: #{$container-padding-touch};
  }
}

.column .columns {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.columns:first-child:last-child {
  margin-top: 0;
  margin-bottom: 0;
}