$primary: #5805FC;
$primary-invert: findColorInvert($primary);
$dark: #0A0A0A;
$dark-invert: findColorInvert($dark);
$light: #F2F3F9;
$light-invert: findColorInvert($light);
$info: #03DAC5;
$info-invert: findColorInvert($info);
$success: #00C697;
$success-invert: findColorInvert($success);
$warning: #FFA94D;
$warning-invert: findColorInvert($warning);
$danger: #E73F46;
$danger-invert: findColorInvert($danger);
$grays: (#151734, #464769, #7B7B8F, #C6C7DC);
