$input-color: nth($grays, 3);
$input-background-color: $white;
$input-border-color: nth($grays, 4);
$input-shadow: none;
$input-hover-color: nth($grays, 2);
$input-hover-border-color: nth($grays, 4);
$input-focus-color: $dark;
$input-focus-border-color: nth($grays, 3);
$input-focus-box-shadow-size: 0;
$input-focus-box-shadow-color: transparent;
$input-disabled-color: rgba(nth($grays, 3), .5);
$input-disabled-background-color: $white;
$input-disabled-border-color: rgba(nth($grays, 4), .5);
// $input-arrow: $link;
$input-icon-color: nth($grays, 3);
$input-icon-active-color: $dark;
$input-disabled-icon-color: rgba(nth($grays, 4), .5);
$input-radius: .5rem;

// $control-border-width: 1px;
// $control-padding-vertical: calc(0.5em - #{$control-border-width});
// $control-padding-horizontal: calc(0.8em - #{$control-border-width});

input::placeholder,
textarea::placeholder {
  color: nth($grays, 3) !important;
}

.field {
  .label {
    text-transform: uppercase;
    font-size: nth($sizes, 9);
    color: nth($grays, 3);
    font-weight: bold;
    letter-spacing: 1.5px;

    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  .control {
    &.has-icons-left {

      .input,
      .textarea {
        padding-left: 2.75rem;
      }
    }

    .input,
    .textarea {
      &:not(.is-small):not(.textarea) {
        height: 3rem !important;
      }

      &.is-small:not(.textarea) {
        height: 2.25rem !important;
        padding-left: 2rem !important;
      }

      font-weight: 600;
      padding: 1rem;
    }

    .icon {
      &:not(.is-small) {
        width: 3rem;
        height: 3rem;
      }

      &.is-small {
        width: 2.25rem;
        height: 2.25rem;
      }
    }
  }

  &.disabled {
    .control {

      &.has-icons-left,
      &.has-icons-right,
      & {
        .icon {
          color: $input-disabled-icon-color;
        }
      }
    }
  }

  &:hover:not(.disabled) {
    .control {

      &.has-icons-left,
      &.has-icons-right,
      & {
        .icon {
          color: $input-icon-active-color;
        }

        .input,
        .textarea {
          color: $input-hover-color;
          border-color: $input-hover-border-color;
        }
      }
    }
  }

  &:not(.disabled) {
    .control {

      &.has-icons-left,
      &.has-icons-right,
      & {

        .input,
        .textarea {
          color: $input-color;
          border-color: $input-border-color;
        }

        .input:active,
        .input:focus,
        .textarea:active,
        .textarea:focus {
          color: $input-focus-color;
          border-color: $input-focus-border-color;
        }
      }
    }
  }

  &.select-box {
    position: relative;

    img.avatar {
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 2rem;
      border: none;
      display: block;
    }

    &:not(:first-of-type) {

      &,
      &:hover,
      &:active,
      &:focus {

        input {
          background-color: #f2f3f9;
        }

        input,
        .selectable {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 0;

      &,
      &:hover,
      &:active,
      &:focus {

        input {
          background-color: #f2f3f9;
        }

        input,
        .selectable:not(.absolute) {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          &:not(.open) {
            border-bottom: 0;
          }
        }
      }
    }

    &:last-of-type:not(:first-of-type) {
      input {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &,
    &:hover {
      .control {

        &.has-icons-left,
        &.has-icons-right,
        & {
          .icon {
            color: $primary;
          }

          .input,
          .textarea {
            position: relative;
            z-index: 0;

            &,
            &:hover,
            &:active,
            &:focus {
              &:not(.is-readonly) {
                cursor: pointer;
              }

              transition: background-color .1s ease-in;

              &.open {
                background-color: $light;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
              }

              color: $primary;
              border-color: $input-border-color;
            }
          }
        }
      }

      .selectable {
        background-color: $white;
        border: 1px solid $input-border-color;
        border-top: none;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding-bottom: calc(0.5rem - 1px);
        padding-left: calc(0.625rem - 1px);
        padding-right: calc(0.625rem - 1px);
        padding-top: calc(0.5rem - 1px);

        .selectable-items {
          li {
            padding: .5rem;
          }
        }

        &.absolute {
          position: absolute;
          z-index: 10;
          top: 3rem;
          left: 0;
          right: 0;
          box-shadow: 0 .35rem 1rem rgba(0, 0, 0, 0.09);
        }
      }
    }
  }
}